In [1]:
import pandas as pd
import numpy as np

In [6]:
a = [1, 2, 3, 4, 5]

df = pd.DataFrame(a)

In [7]:
b = (df < 6)

In [10]:
df < 2

       0
0   True
1  False
2  False
3  False
4  False